@keyframes slide {
    0% {opacity: 0.5; transform: translateX(100px)}
    100%{opacity: 1; transform: translateX(0px);}
    
}

.slider {
    animation: slide 1s ease-in;
}

@keyframes mist {

    0% {opacity:0;}
    100%{opacity:1;}
    
}

.mister {
    animation: mist 0.5s ease-in;
}

@keyframes colorer {

    0% {color: chocolate; font-size: 150%;}
    25% {color: aqua;}
    50% { color: brown;}
    75% {color: blueviolet;}
    100%{text-size: 100%;}
    
}

.super-color{
    animation: colorer 3s ease-in;
}