.body {
  max-width: 1200px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 400px;

  margin: 10px;

  background-image: url("Images/header.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position:center;
  
}

.secction {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height:auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;

}

.objeto {
    margin: 4px;
}

.title {
  margin: 10px;
  padding: 10px;
}

.box {
  width: 120px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.center{
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.bottom-left {
  position: relative;
  bottom: 25px;
  left: 5px;
  color: yellow;
  opacity: 0.9;
}

.grey {
  color: grey;
}

.grey_background {
  background-color: #cccccc;
}

.white_background {
  background-color: #ffffff;
}
.pink_background {
  background-color: #aa26a3;
}

.margin_left {
  margin-left: 10px;
}

.banish {
  opacity: 0.7;
}

.rectangle {

    background-color:rgba(128, 128, 128, 0.15);
    height: 100%;
    width: 88%;
    
}

#text1 {
    color:rgba(255, 166, 0, 0.80);
    font-size:xx-large;
    text-align: center;
}

text:hover {

    background-color: rgba(0, 162, 255, 0.185);
    color: rgb(14, 44, 109);
    font-size: 150%;


}

@media (max-width: 770px) {/*TABLET*/

  .responsive_big{

      display:flex;
      flex-direction: column;


  }

  #responsive_flex {
      flex:2;
  }

  .responsive_background_tablet{
    height: 700px;
  }
  
}


@media (max-width: 480px) {/*MOBILE*/

  .responsive_small{

      flex-direction: column;
      
  }


}

@media (max-width: 400px) {/*MINI*/


  .responsive_background_mini{

    height: 850px;
  }


}
    



