.body {
  max-width: 1200px;
}

main > * {
  display:grid;
  grid-gap: 10px;
}

header {grid-area: header;}
aside {grid-area: aside;}
section {grid-area: section;}
footer {grid-area:footer;}

main {
  display: grid;
  grid-gap:10px;
  grid-template-areas: 
  "header header header" 
  "section section aside" 
  "footer footer footer";
}


.header {
  height: 400px;

  background-image: url("Images/header.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
}

.secction {
  margin: 10px;
  height: auto;
}

.container {
  justify-content: space-evenly;
  width: 100%;
}

.objeto {
  margin: 4px;
}

.title {
  margin: 10px;
  padding: 10px;
}

.box {
  width: 120px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
  width: "0";
  height: "0";

  opacity: 0.9;
}
.absolute {
  position: absolute;
  top: -44px;
  left: 10px;
}

.position1 {
  top: -44px;
  left: 10px;
}

.position2 {
  top: -24px;
  left: 10px;
}

.yellow {
  color: yellow;
}

.grey {
  color: grey;
}

.lightgrey_background {
  background-color: ivory;
}

.grey_background {
  background-color: #cccccc;
}

.white_background {
  background-color: #ffffff;
}
.pink_background {
  background-color: #f08080;
}

.white_letters {
  display: flex;

  height: 30px;
  color: whitesmoke;
  align-items: center;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.margin_left {
  margin-left: 10px;
}

.margin {
  margin: 10px;
}

.padding {
  margin-left: auto;
  margin-right: auto;
}

.widht {
  width: 100%;
}

.banish {
  opacity: 0.7;
}

.rectangle {
  background-color: rgba(128, 128, 128, 0.15);
  height: 100%;
  width: 88%;
}

#text1 {
  color: rgba(255, 166, 0, 0.8);
  font-size: xx-large;
  text-align: center;
}

#text2 {
  color: black;
  font-size: medium;
  text-align: center;
}

.center {
  text-align: center;
}

.text_news {
  column-count: 2;
}

text:hover {
  background-color: rgba(0, 162, 255, 0.185);
  color: rgb(14, 44, 109);
  font-size: 150%;
}