.body
{
    display:block;
    padding:0;
    margin:0;
    max-width: 1200px;
    
}

/*[class*="col-"] {
    
}*/
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.house {
    
    background-color: black;
    height: 420px;
    margin: 50px;
    
}

.room {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    width: 90%;
    margin: auto;
    
}

.rectangle {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.column {
    display:flex;
    flex-direction: column;
}

.row {
    display:flex;
    flex-direction: row;
}

.red {
    background-color: brown;
}
.darkblue {
    background-color:darkslateblue;
}
.orange {
    background-color: rgb(207, 129, 56);
}
.lime {
    background-color: rgb(147, 165, 42);
}
.grey{
    background-color: grey;
}
.blue {
    background-color: rgb(52, 23, 216);
}
.lightblue{
    background-color: rgb(23, 193, 216);
}

.wing {
    
    height: 80%;
    width: 65%;
    margin: auto;
}

.hallway {

    height: 70%;
    width: 100%;
    
}

.side {
    height: 100%;
    width: 40%;
    margin: auto;
    
}

.aleta {
    height: 50px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.remora {

    display:flex;
    flex-direction: column;
    background-color: red;
    height: 80%;
    width: 20%;
    margin: auto;
    margin-left: 0%;
    
}

.subremora {
    height: 50px;
    width: 80%;
    background-color: rgb(213, 216, 23);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.pie{

    display:flex;
    flex-direction: column;
    background-color: black;
    height: 150px;
    margin: 50px;
}

.talon {

    height: 50px;
    width: 90%;
    background-color: rgb(216, 181, 23);
    margin:auto;
}

