*body
{
    display:block;
    padding:0;
    margin:0;
    max-width: 1200px;
    
}

.cuerpo {

    display:flex;
    flex-direction: column;
    height: auto;

}

.cabezera {
    
    display:flex;
    flex-direction: column;
    background-color: black;
    height: 420px;
    margin: 50px;
    
}

.cabeza {

    display: flex;
    flex-direction: row;
    background-color:darkslateblue;
    height: 150px;
    width: 90%;
    margin: auto;
    
    
}

.oreja {
    background-color: brown;
    height: 50px;
    flex: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: 5%;
    
}

.nariz {
    background-color: rgb(165, 42, 134);
    height: 50px;
    flex: 40%;
    margin: auto;

}

.cuello {

    display: flex;
    background-color: rgb(207, 129, 56);
    height: 150px;
    width: 90%;
    margin: auto;
}

.garganta {
    background-color: rgb(147, 165, 42);
    height: 50px;
    flex: 90%;
    margin: auto;
    margin-right: 5%;
    margin-left: 5%;
    
    
}

.mar {
    display:flex;
    flex-direction: row;
    background-color: black;
    height: 450px;
    margin: 50px;
}

.tauro {
    background-color: grey;
    height: 80%;
    width: 65%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: 5%;
}

.superboca {

    display:flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
}

.boca {

    display:flex;
    flex-direction: column;
    height: 100%;
    width: 38%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 8%;
}

.mandibula {
    height: 50px;
    width: 100%;
    background-color: rgb(52, 23, 216);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.aleta {
    height: 50px;
    width: 84%;
    background-color: rgb(23, 193, 216);
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.remora {

    display:flex;
    flex-direction: column;
    background-color: red;
    height: 80%;
    width: 20%;
    margin: auto;
    margin-left: 0%;
    
}

.subremora {
    height: 50px;
    width: 80%;
    background-color: rgb(213, 216, 23);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.pie{

    display:flex;
    flex-direction: column;
    background-color: black;
    height: 150px;
    margin: 50px;
}

.talon {

    height: 50px;
    width: 90%;
    background-color: rgb(216, 181, 23);
    margin:auto;
}

